/*Footer*/


.footerContainer{
    @include flexible( flex , row , wrap ,left, normal );
    padding: 10px 10px; 
    background-color: #338ba7;


    &__item{
        width: 200px;
    }

    &__link {
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    &__p {
        color: white;
        font-weight: 800;
        font-size: large;
    }
}



