/*HEADER, NAV, SLIDER*/

.headerContainer{
    
    width: auto;
    border: 1px solid black;

    &__slider{
        grid-column: 1/4;
        background-size: 100%;
    }
    
}

/*Color menú hamburguesa*/

.nav-item a {
    color: black !important;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(128, 0, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }