
/*Main contenedor*/

.mainContainer {
    display: grid;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto;
    border: 1px solid black;
    padding: 10px 10px;

    //Sobre nosotros

    &__img {
        border: 1px solid black;
        height: 300px;
        margin: 20px;
    }

    &__content {
        grid-column: 1/4;
        padding: 20px;
        @include flexible( flex , row , nowrap , center, center );
    }

    &____sobre {
        padding: 20px;
    }

    // Servicios

    &__servicios {
        grid-column: 1/4;
        @include flexible( flex , row , wrap , center, normal );
        padding: 10px 10px 10px 10px;
    }

    &__item{
        padding: 20px;
    }

    /*Contacto*/

    &__contacto {
        grid-column: 1/4;
        @include flexible( flex , column , wrap , space-between, normal );
        padding: 10px 10px;
    }

    &__itemContacto{
        @include flexible( flex , row , wrap , space-between, normal );
    }

    //Ubicación

    &__ubicacion{
        grid-column: 1/4;
        padding: 10px 10px;
    }
}

/*Buton up*/

.go-top-btn{
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: none;
    justify-content: center;
    align-content: center;
    border: 0;
    background: transparent;

}


.go-top-btn img{
    height: 50px;
    width: 50px;
}