/*Media queries header*/

@media only screen and (min-width: 52px) and (max-width: 768px){

  

    .mainContainer__img{
        display: none;
    }

}

/*Media queries main*/

@media only screen and (min-width: 52px) and (max-width: 768px){

    .mainContainer__servicios {
        
        flex-direction: column;
        @include flexible( flex , column , wrap , space-around, center );
    }

    .footerContainer {
        
        flex-direction: column;
        @include flexible( flex , column , wrap , space-around, center );
    }

}